:root {
    /* padding */
    --base-space: 8px;
}

/* index.html */
body {
    margin: 0;
    font-family: 'Andada', serif;
}

a { text-decoration: none; }
a:link { color: white; }
a:visited { color: white; }


/* menu bar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: var(--base-space);
    padding-right: var(--base-space);
    height: 10vh;
}

.navbar_menu { padding: var(--base-space) 12px; }

.navbar_name {
    font-size: 1.2em;
    text-align: center;
    padding-left: calc(var(--base-space)*10);
    cursor: pointer;
}

.navbar_toggleBtn { 
    cursor: pointer; 
    font-size: 1.2em;
}

.navbar_icons {
    list-style: none;
    display: flex;
    padding: 0px;
    text-align: center;
    font-size: 1.2em;
}

.icon_soundCld, 
.icon_twitter, 
.icon_instagram,
.icon_facebook,
.icon_youtube {
    transition: transform 400ms;
}

.icon_soundCld:hover,
.icon_twitter:hover, 
.icon_instagram:hover,
.icon_facebook:hover,
.icon_youtube:hover {
    transform: scale(1.2);
}

.navbar_icons li { padding: 4px 8px; }

.downbar {
    background-color: rgb(31, 31, 31);
    font-size: 1em;
    color: rgb(226, 226, 226);
    display: flex;
    width: 100%;
    display: none;
}

.downbar.active { display:block; }

.downbar_All {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100%;
}
.down {
    display: flex;
    align-items: center;
    font-size: 1em;
    list-style: none;
    padding: 15px 14px;
    margin-left: 0;
    height: 5vh
}

.down:hover { background-color: rgb(77, 77, 77); }

/* main */
.main_article {
    animation: fadein 1s;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

@keyframes fadein {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 1;
    }
}

.img_main {
    flex-grow:1;
    width: 300px;
}

.main01:hover,
.main02:hover,
.main03:hover {
    opacity:0.7;
    cursor: pointer;
}

/* 개발자 정보 */
#email {
    color: gray;
}

footer {
    font-family: 'Nanum Gothic', sans-serif;
    color: gray;
    text-align: center;
    font-size: 10px;
    padding: 30px;
}

@media screen and (max-width: 780px) {
    .down {
        font-size: 1.2em;
    }

    .main_article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img_main {
        flex-grow: 1;
        width: 100%;
    }

}

/* introduce 페이지 */


/* song 페이지 */
/* .items {
    width: 60%;
    height: 60%;
    list-style: none;
    padding-left: 0;
    overflow-y: scroll;
  }
  
  .item {
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    padding: var(--base-space);
    margin-bottom: var(--base-space);
  }
  
  .item.invisible {
    background-color: var(--color-white);
    display: none;
  }
  
  .item__thumbnail {
    width: var(--size-thumbnail);
    height: var(--size-thumbnail);
  }
  
  .item__description {
    margin-left: var(--base-space);
    font-size: var(--font-size);
  } */
/* 카드 */
.songLists {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

/* .card {
    flex-grow:1;
    display: inline-block;
    margin: var(--base-space);

    width: 250px;
    background-color: beige;
} */

.searchBoxBorder {
    padding: var(--base-space);
}

.searchBox {
    font-family: 'Nanum Gothic';
    font-size: 1em;
    display: flex;
    flex-direction: row;
    padding: var(--base-space);
    border: 1px solid gray;
}

.search {
    width: 100%;
    height: 4vh;
}

.se_input {
    flex: 4;
    border: none;
    border-radius: none;
    padding: 0px;
    margin: 0px;
}

.se_input:focus {
    outline: none;
}

.se_btn {
    flex: 1;
    border: none;
    background-color: lightgray;
    border-radius: none;
    padding: 0px;
    margin: 0px;
}

.searchResult {
    font-family: 'Nanum Gothic';
    font-size: 1em;
    margin: var(--base-space);
}

@media screen and (max-width: 780px) {
    .se_input {
        flex: 3;
        font-size: 1.2em;
    }

    .se_btn {
        flex: 1;
        font-size: 1.2em;
    }

    .searchResult {
        font-size: 1.2em;
    }

}


/* albums 페이지 */
h1 {
    font-family: 'Andada', serif;
    width: 100%;
    text-align: center;
}

.art1Box {
    padding: 50px 0px;
}

.scrollImg {
    padding-bottom: 7px;
    display: flex;
    flex-direction: row-reverse;
    white-space: nowrap; /* 연속 공백을 하나로 합침 */
    /* justify-content: flex-end; */
    overflow: auto;
    
}

.abImg:hover {
    cursor: pointer;
    opacity: 0.5;
}

.abImg {
    width: 30vw;
}

.songsBox {
    padding: 30px;
    border: 3px solid darkgray;
    color: darkgray;
    height: 200px;
    display: none;
}


#theme {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Andada', serif;
    font-size: 15px;
}
#themeColor {
    font-family: 'Andada', serif;
}

.content {
    border-top: 2px solid white;
}

.introBox {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    line-height: 30px;
    width: 100%;
    padding: 5px;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
}
.imgCtnt {
    width: 100%;
}

.profileBox {
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
}

@media screen and (max-width: 780px) {
    .profileBox {
        padding: 20px 30px;
    }
}


/* videoPage 페이지 */


iframe {
    width: 75%;
    height: 600px;
    text-align: center;
}

.youtubeVideo {
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    justify-content: center;
    padding: 10px;
}
