@import url(./reset.css);
@import url(./allPages.css);

/* main */
.main_article {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img_main {
    flex-grow:1;
    width: 300px;
}

.main01:hover,
.main02:hover,
.main03:hover {
    opacity:0.7;
    cursor: pointer;
}



@media screen and (max-width: 780px) {
    .down {
        font-size: 1.2em;
    }

    .main_article {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .img_main {
        flex-grow: 1;
        width: 100%;
    }

}