@import url(./reset.css);
@import url(./allPages.css);

/* introduce 페이지 */
main {
    border-top: 1px solid lightgray;
    background-color: black;
}

.liner {
    position: fixed;
    left: 20%;
    border-right: 1px dashed darkgray;
    height: 100vh;
    z-index: 1;
}

.pointWrap {
    position: fixed;
    right: 3vw;
    top: 35%;
    z-index: 100;
}
  
.pointWrap li {
    list-style: none;
    font-size: 20px;
    color: antiquewhite;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background .3s ease-out;
}
  
.pointWrap li.active {
    color: rgb(255, 149, 215)
}

section {
    /* border-top: 2px solid red; */
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
}

.imageWrap {
    width: 40%;
}

.imageWrap img {
    width: 30vw;
    border-radius: 50%;
    position: relative;
    z-index: 50;
}

.textWrap {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    color: rgb(255, 255, 255);
    width: 60%;
    background-color: black;
    /* transition: all 1s ease-out; */
}

.textWrap h2 {
    font-size: 2em;
    padding-right: 100px;
}

.textWrap p {
    padding-right: 100px;
    line-height: 30px;
    font-size: 15px;
}

footer {
    background-color: white;
    position: relative;
    z-index: 50;
}


@media screen and (max-width: 780px) {
    section {
        flex-direction: column;
    }
    
    .liner {
        border: none;
    }

    .imageWrap {
        width: 100vw;
    }
    .imageWrap img{
        margin-top: 20vh;
        width: 50vw;
    }

    .textWrap {
        width: 100vw;
    }
    .textWrap h2 {
        font-size: 2em;
        padding: 30px;
    }
    
    .textWrap p {
        padding: 30px;
        line-height: 30px;
        font-size: 15px;
    }


}
