h1 {
    font-family: 'Andada Pro', serif;
    width: 100%;
    text-align: center;
}

h2 {
    font-family: 'Andada Pro', serif;
}

.youtubeBox {
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    justify-content: center;
    padding: 10px;
}

