h1 {
    font-family: 'Andada', serif;
    width: 100%;
    text-align: center;
}

.art1Box {
    padding: 50px 0px;
}

.scrollImg {
    padding-bottom: 7px;
    display: flex;
    flex-direction: row-reverse;
    white-space: nowrap; /* 연속 공백을 하나로 합침 */
    /* justify-content: flex-end; */
    overflow: auto;
    
}

.abImg:hover {
    cursor: pointer;
    opacity: 0.5;
}

.abImg {
    width: 30vw;
}

.songsBox {
    padding: 30px;
    border: 3px solid darkgray;
    color: darkgray;
    height: 200px;
    display: none;
}


#theme {
    display: flex;
    justify-content: center;
    padding: 10px;
    font-family: 'Andada', serif;
    font-size: 15px;
}
#themeColor {
    font-family: 'Andada', serif;
}

.content {
    border-top: 2px solid white;
}

.introBox {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 12px;
    line-height: 30px;
    width: 100%;
    padding: 5px;
}

h2 {
    font-family: 'Nanum Gothic', sans-serif;
}
.imgCtnt {
    width: 100%;
}

.profileBox {
    display: flex;
    flex-direction: column;
    padding: 20px 150px;
}

@media screen and (max-width: 780px) {
    .profileBox {
        padding: 20px 30px;
    }
}
