@import url(./reset.css);
@import url(./allPages.css);

/* videoPage 페이지 */


iframe {
    width: 75%;
    height: 600px;
    text-align: center;
}

.youtubeVideo {
    display: flex;
    border-width: 5px;
    border-style: solid;
    border-color: white;
    justify-content: center;
    padding: 10px;
}
